
{{!-- {{#product}} --}}
<div class="container">
    <div class="row align-items-start">
        <div class="image col-md-12 border bg-secondary">
            <div style="margin-top: 5px;">
                <button class="like-box" style="float: right; padding-right: 10px; border: none;">
                    <div style="float:right;padding-top:5px;padding-bottom:5px">Likes</div>
                    {{#unless wishlist}}
                        <a href="/user/addtowishlist/{{product.sku}}"><i class='bx bx-heart'  style="float:right; padding:5px; text-decoration: none; color: black"></i></a>
                    {{else}}
                        <a href="/user/deletewishlist/{{product.sku}}"><i class='bx bxs-bookmark-heart'  style="float:right; padding:5px; text-decoration: none; color: black"></i></a>
                    {{/unless}}
                </button>
            </div>
            <center><img class='img-fluid align-items-center' src="/images/items/{{product.posterURL}}"></center>
        </div>
    </div>
    <div class="item-right col-md-3 text-center" style="float: right">
        <h3>{{product.Owner}}</h3>
        <button class="modal-button buy"><span>buy</span></button>
        {{!-- <button class="modal-button other fav"><span>Add To Favourite</span></button> --}}
        <br>
        <button class="modal-button other chat" onclick="location.href = '/inbox/new/{{product.sku}}';"><span>Chat Now</span></button>
    </div>
    <div class="row align-items-center">
        <div class="col-md-12">
            <h3 style="font-weight: normal;">{{product.name}}</h3>
            <h3>${{product.price}}</h3>
            <br>
            <hr class="col-md-12">
            <h4>Description</h4>
            <p id="uploadedAt"></p>
            <input type="hidden" value="{{product.createdAt}}" id="created">
            <p>{{product.description}}</p>
        </div>

    </div>
</div>
{{!-- {{/product}} --}}

<style>
    .like-box{
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .bg-secondary{
        --bs-bg-opacity: 0.4;
        background-color: lightgrey;!important
    }
    img{
        padding-top: 10px;
        padding-bottom: 10px;
        max-height: 400px;
        float: center;
    }
    .item-right{
        border: lightgrey solid 0.1px;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .modal-button{
        width: 80%;
        text-align: center;
        background-color: transparent;
        border-radius: 5px;
        padding: 5px;
        margin-bottom:10px;
        font-size: 15px;
    }
    .buy{
        border: solid 0.5px;
        background-color: #fb1638;
        color: white;
        font-weight: bold;
    }
    .buy:hover{
        background-color: #de0324;
    }
    .other:hover{
        background-color: lightgrey;
    }
    .image{
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .other{
        margin-bottom: 0px;
        font-weight:600;
        border: lightgrey solid 0.001px;
    }
    .chat{
        margin-bottom: 20px;
    }
</style>
<script>
    window.addEventListener('load', function(){
        uploaded = new Date(document.getElementById('created').value)
        var present_date = new Date()
        mmdiff = (present_date.getMonth() + 1) - (uploaded.getMonth() + 1)
        yydiff = (present_date.getFullYear()) - (uploaded.getFullYear())
        dddiff = (present_date.getDate()) - (uploaded.getDate())
        if(yydiff > 1){
            document.getElementById('uploadedAt').innerHTML = `posted<br>`+yydiff + ' years ago'
        }else{
            if(mmdiff >= 1){
                document.getElementById('uploadedAt').innerHTML = `posted<br>`+mmdiff + ' months ago'
            }else{
                if(dddiff >= 7){
                    document.getElementById('uploadedAt').innerHTML = `posted<br>`+Math.ceil(dddiff/7) + ' weeks ago'
                }else{
                    document.getElementById('uploadedAt').innerHTML = `posted<br>`+dddiff + ' days ago'
                }
            }
        }
        console.log(dddiff)
    })
</script>