<div class="shadow-sm container-fluid rounded border col-xxl-10 d-flex flex-column"
    style="height: calc(100vh - 102px); ">

    <div class="row">
        <div class="col-xxl-3 col-sm-4 p-0 align-self-stretch">
            <div class="border-bottom border-end h-100">
                <div class="d-flex px-4 py-2 justify-content-center align-items-center h-100">
                    <div class="px-5 fs-5">
                        Messages
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-9 col-sm-8 p-0">
            <div class="border-bottom">
                <div class="d-flex px-4 py-2 align-items-center">
                    <div class="p-2">
                        <img class="img-fluid" width="40" src="/images/user_img.png" alt="">
                    </div>
                    <div class="px-5 fs-4 chat-name">
                        {{currentchat.name}}
                    </div>
                    <div class="ms-auto">
                        <button class="btn" id="info">
                            <i class="fs-4 bi bi-info-circle"></i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row flex-grow-1 overflow-auto">
        <div id="messagesPanel" class="col-xxl-3 col-sm-4 p-0 border-end vstack overflow-auto" style="height:100%;">
            {{#each chats}}
            <a class="chat text-black" href='/inbox/{{id}}'>
                <div class="hstack gap-4 p-3 position-relative">
                    <img class="img-fluid" width="60" src="/images/user_img.png" alt="">
                    <div class="d-flex flex-column justify-content-center flex-grow-1">
                        <span>{{#equals buyerId ../user.id}}{{product.Owner}}{{else}}{{buyer.name}}{{/equals}}</span>
                        <span class="text-truncate" style="max-width: 80%;">
                            {{#if msgs.[0].content}}
                            {{#equals msgs.[0].userId ../user.id}}<i
                                class="bi bi-check{{#if msgs.[0].seen}}-all{{/if}}"></i>{{/equals}}{{msgs.[0].content}}
                            {{else}}
                            &nbsp;
                            {{/if}}</span>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        <div class="col-xxl-9 col-sm-8 p-0 vstack" style="height:100%;">
            <div class="border-bottom" id="product" style="display: none;">
                <div class="d-flex align-items-center">
                    <img src="/images/items/{{currentchat.product.posterURL}}" height="50px" width="50px" class="m-3"
                        alt="">
                    <div class="product-info">
                        <p class="m-0 product-name">{{currentchat.product.name}}</p>
                        <p class="m-0 product-price">{{currentchat.product.price}}</p>
                    </div>
                    <div class="product-footer ms-auto hstack">
                        <span class="offer-status mx-3"></span>
                        <button class="btn btn-primary offer-btn mx-3">Make Offer</button>
                        <button class="btn btn-info offer-btn mx-3" style="display: none;">Counter Offer</button>
                        <button class="btn btn-success offer-btn mx-3" style="display: none;">Accept Offer</button>
                        <button class="btn btn-danger offer-btn mx-3" style="display: none;">Refuse Offer</button>
                        <button class="btn btn-success payment-btn mx-3" style="display: none;">Make Payment</button>
                        <button class="btn btn-info offer-btn mx-3" style="display: none;">Mark as sold</button>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1 overflow-auto" id="chat-panel">
            </div>
            <div class="message-box border-top">
                <div id="chat-box" style="display: none;">
                    <form id="chat-form" class="d-flex" data-bs-id="{{currentchat.product.sku}}">
                        <input id="msg" class="flex-grow-1 form-control" type="text" placeholder="Enter Message"
                            required autocomplete="off" />
                        <button type="submit" class="btn">Send</button>
                    </form>
                </div>
                <div id="chat-closed" class="" style="display: none;">
                    <p class="p-3 m-0 text-center">This chat has closed</p>
                </div>

            </div>
        </div>
    </div>
</div>
<script defer>
    $(document).ready(async function () {
        let { userId } = await $.get('/currentUser')
        var $chatForm = $('#chat-form')
        let chatId

        if (window.location.pathname.split('/')[2] == 'new') {
            $('#chat-box').show()
            $('#product').show()
            $('#chat-closed').hide()
        } else if (window.location.pathname.split('/').pop() != 'inbox') {
            chatId = window.location.pathname.split('/').pop()
        }

        let prevHref = [];

        window.onpopstate = function (e) {
            console.log(e)
        }

        function offerBtns(data) {
            $('.offer-btn').hide()
            if (data.status == 'Waiting for offer') {
                if (data.buyerId == userId) {
                    $('.offer-btn:contains("Make Offer")').show()
                }
            } else if (data.status == 'Offered') {
                $('.offer-status').text(data.status + " $" + data.offer)
                if (data.buyerId != userId) {
                    $('.offer-btn:contains("Counter Offer")').show()
                    $('.offer-btn:contains("Accept Offer")').show()
                    $('.offer-btn:contains("Refuse Offer")').show()
                }
            }
            else if (data.status == 'Refused Offer') {
                $('.offer-status').text(data.status + " of $" + data.offer)
                if (data.buyerId == userId) {
                    $('.offer-btn:contains("Make Offer")').show()
                }
            }
            else if (data.status == 'Counter Offered') {
                $('.offer-status').text(data.status + " $" + data.offer)
                if (data.buyerId == userId) {
                    $('.offer-btn:contains("Accept Offer")').show()
                    $('.offer-btn:contains("Make Offer")').show()
                }
            } else if (data.status == 'Accepted Offer') {
                if (data.buyerId == userId) {
                    $('.offer-status').text("Offer of $" + data.offer + " was accepted!")
                    $('.payment-btn').show()
                } else {
                    $('.offer-status').text(data.status + " of $" + data.offer)
                    $('.offer-btn:contains("Mark as sold")').show()
                }
            }
        }

        function getMessages(chatId) {
            $.get(`/api/chat/${chatId}`, (data) => {
                data.msgs.forEach(msg => {
                    var owner = msg.userId == userId
                    $('#chat-panel').append(msgFormater(owner, msg.content, msg.offer))
                })
                if (data.open) {
                    $('#chat-box').show()
                    $('#chat-closed').hide()

                } else {
                    $('#chat-box').hide()
                    $('#chat-closed').show()

                }
                $('.chat-name').text(data.buyerId == userId ? data.product.Owner : data.buyer.name)

                offerBtns(data)

                $('#product').show()
                $('#product').find('img').attr('src', '/images/items/' + data.product.posterURL)
                $('#product').find('.product-name').text(data.product.name)
                $('#product').find('.product-price').text('$' + data.product.price)
                $chatForm.attr('data-bs-id', data.product.sku)

                var d = $('#chat-panel');
                d.scrollTop(d.prop("scrollHeight"));
                $.post('/inbox/markasseen', { chatId }, () => {
                    $.get(`/api/getnotificationcount?type=msg`, ({ count }) => {
                        if (count > 0) {
                            const x = [
                                `<span class="position-absolute translate-middle badge rounded-pill bg-danger" style="font-size: 9px; top:25%;">`,
                                `${count} `,
                                `<span class="visually-hidden">unread messages</span>`,
                                `</span>`
                            ]
                            $('#chat-btn').append(x.join(''))
                        } else {
                            $('#chat-btn').find('.badge').remove()
                        }
                    })
                    socket.emit('message:seen', chatId)
                })
            })
        }


        $('.chat').click(function (e) {
            e.preventDefault()
            window.history.pushState('page2', '', this.href);
            var id = `${this.href.split('/').pop()}`
            $('#chat-panel').empty()
            //socket.emit('chat:join', id)
            $('.chat').removeClass('pe-none bg-dark bg-opacity-10')
            $(this).addClass('pe-none bg-dark bg-opacity-10')
            getMessages(id)
        })

        $chatForm.on('submit', function (e) {
            e.preventDefault();


            // Get message text
            let msg = e.target.elements.msg.value;

            msg = msg.trim();

            if (!msg) {
                return false;
            }

            msg = { content: msg, productId: $chatForm.attr('data-bs-id'), chatId: window.location.pathname.split('/')[2] == 'new' ? '' : window.location.pathname.split('/').pop() }
            $.post("/inbox/send", msg, (data) => {
                if (window.location.pathname.split('/')[2] == 'new') {
                    socket.emit('chat:join', data.chatId)
                    window.history.pushState('page2', '', `/inbox/${data.chatId}`);
                    data.new = true
                }

                //Emit message to server
                socket.emit('message:sent', data);
            })

            // Clear input
            e.target.elements.msg.value = '';
            e.target.elements.msg.focus();
        });



        function msgFormater(owner, content, offer) {
            var options = new Array()
            if (owner) {
                options.push('right')
                options.push('justify-content-end')
            } else {
                options.push('left')
                options.push('')
            }
            let msgFormat
            if (offer) {
                let [status, amt] = content.split('$')
                msgFormat = [
                    `<div class="d-flex ${options.pop()}">`,
                    `<div class="chat-bubble chat-bubble--${options.pop()} text-break" style="max-width: 50%;">`,
                    `<b>${status}<br>$${amt}</b>`,
                    `</div>`,
                    `</div>`,
                ]
            } else {
                msgFormat = [
                    `<div class="d-flex ${options.pop()}">`,
                    `<div class="chat-bubble chat-bubble--${options.pop()} text-break" style="max-width: 50%;">`,
                    `${content}`,
                    `</div>`,
                    `</div>`,
                ]
            }

            return msgFormat.join('')
        }

        socket.on('message:receive', (data) => {
            var owner = data.userId == userId
            var chat = [
                `<a class="chat text-black" href='/inbox/${data.chatId}'>`,
                `<div class="hstack gap-4 p-3 position-relative">`,
                `<img class="rounded-circle img-fluid" width="60" src="/images/avatars/avatar1.jpg" alt="">`,
                `<div class="d-flex flex-column justify-content-center flex-grow-1">`,
                `<span>${data.chat.buyerId == userId ? data.chat.product.Owner : data.chat.buyer.name}</span>`,
                `<span class="text-truncate" style="max-width: 80%;">`,
                `</span>`,
                `</div>`,
                `</div>`,
                `</a>`
            ].join('')
            $(`[href="/inbox/${data.chatId}"]`).remove()
            $('#messagesPanel').prepend(chat)
            if (owner) {
                $(`[href="/inbox/${data.chatId}"]`).find('span.text-truncate').html(`<i class="bi bi-check"></i>${data.content}`)
            } else {
                $(`[href="/inbox/${data.chatId}"]`).find('span.text-truncate').text(data.content)
            }
            if (window.location.pathname.split('/').pop() == data.chatId) {
                $(`[href="/inbox/${data.chatId}"]`).addClass('pe-none bg-dark bg-opacity-10')
                $.post('/inbox/markasseen', { chatId: data.chatId })
                offerBtns(data.chat)
                $('#chat-panel').append(msgFormater(owner, data.content, data.offer))
                socket.emit('message:seen', data.chatId)
            }
            var d = $('#chat-panel');
            d.scrollTop(d.prop("scrollHeight"));

        })

        socket.on('message:seen', (chatId) => {
            $(`[href="/inbox/${chatId}"`).find('i').removeClass('bi-check')
            $(`[href="/inbox/${chatId}"`).find('i').addClass('bi-check-all')
        })

        $(`[href="${window.location.pathname}"`).click()


        function sendOffer(status, amt) {
            msg = { content: `${status} $${amt}`, productId: $chatForm.attr('data-bs-id'), chatId: window.location.pathname.split('/')[2] == 'new' ? '' : window.location.pathname.split('/').pop(), offer: true }
            $.post("/inbox/send", msg, (data) => {
                if (window.location.pathname.split('/')[2] == 'new') {
                    socket.emit('chat:join', data.chatId)
                    window.history.pushState('page2', '', `/inbox/${data.chatId}`);
                    data.new = true
                }
                socket.emit('message:sent', data);
            })
        }

        $('.offer-btn:contains("Make Offer")').click(() => {
            Swal.fire({
                title: "Make Offer",
                html: `$<input type="number" id="offer-amt" class="swal2-input" placeholder="$00.00" min=0.01 max=99999.99 step=0.01>`,
                showCancelButton: true,
                confirmButtonText: 'Offer',
                preConfirm: () => {
                    let amt = Swal.getPopup().querySelector('#offer-amt').value
                    if (!amt || amt < 0.01 || amt > 99999.99) {
                        Swal.showValidationMessage(`Please enter a valid offer amount`)
                    }
                    amt = parseFloat(amt).toFixed(2)
                    return { amt }
                }
            }).then(({ value, isConfirmed }) => {
                if (isConfirmed) {
                    $.post('/inbox/makeoffer', { chatId: window.location.pathname.split('/').pop(), amt: value.amt })
                    sendOffer("Made Offer", value.amt)
                }
            })
        })

        $('.offer-btn:contains("Counter Offer")').click(() => {
            Swal.fire({
                title: "Counter Offer",
                html: `$<input type="number" id="offer-amt" class="swal2-input" placeholder="$00.00" min=0.01 max=99999.99 step=0.01 value=${$('.offer-status').text().split('$').pop()}>`,
                showCancelButton: true,
                confirmButtonText: 'Counter',
                preConfirm: () => {
                    let amt = Swal.getPopup().querySelector('#offer-amt').value
                    if (!amt || amt < 0.01 || amt > 99999.99) {
                        Swal.showValidationMessage(`Please enter a valid offer amount`)
                    }
                    amt = parseFloat(amt).toFixed(2)
                    return { amt }
                }
            }).then(({ value, isConfirmed }) => {
                if (isConfirmed) {
                    $.post('/inbox/counteroffer', { chatId: window.location.pathname.split('/').pop(), amt: value.amt })
                    sendOffer("Countered Offer", value.amt)
                }
            })
        })

        $('.offer-btn:contains("Refuse Offer")').click(() => {
            Swal.fire({
                title: "Refuse Offer",
                text: `Are you sure you want to refuse this offer?`,
                showCancelButton: true,
                confirmButtonText: 'Refuse',
            }).then(({ value, isConfirmed }) => {
                if (isConfirmed) {
                    $.post('/inbox/refuseoffer', { chatId: window.location.pathname.split('/').pop() })
                    sendOffer("Refused Offer", $('.offer-status').text().split('$').pop())
                }
            })
        })

        $('.offer-btn:contains("Accept Offer")').click(() => {
            Swal.fire({
                title: "Accept Offer",
                text: `Are you sure you want to accept this offer?`,
                showCancelButton: true,
                confirmButtonText: 'Accept',
            }).then(({ value, isConfirmed }) => {
                if (isConfirmed) {
                    $.post('/inbox/acceptoffer', { chatId: window.location.pathname.split('/').pop() })
                    sendOffer("Accepted Offer", $('.offer-status').text().split('$').pop())
                }
            })
        })
    })
</script>